/* ==========================================================================
   CODELOUISVILLE FEWD - CSS fonts
   ========================================================================== */


 /* ==========================================================================
    Google Fonts
    ========================================================================== */

  h1 {
    font-family: 'Josefin Slab', serif;
  }

  .main-nav {
    font-family: 'Open Sans Condensed', sans-serif;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }
