/* ==========================================================================
   CODELOUISVILLE FEWD - CSS fonts
   ========================================================================== */


 /* ==========================================================================
    Google Fonts
    ========================================================================== */

  h1, h2, h3, p {
    font-family: 'Josefin Slab',"Palatino Linotype", "Book Antiqua", serif;
    font-weight: bold;
  }

  .main-nav {
    font-family: 'Open Sans Condensed', sans-serif;
  }
